<div id="timeline">
  <div>
    <section class="year">
      <h3>2021 - Aug. 2023</h3>
      <section>
        <ul>
          <li>
            <h4>EPFL, Switzerland</h4>
            <h5>Master in Computer Science</h5>
            <div>Double degree program between ENS de Lyon and EPFL. Courses focused on cryptography, cyber security, privacy and distributed systems.</div>
          </li>
        </ul>
      </section>
    </section><section class="year">
      <h3>2019 - Aug. 2023</h3>
      <section>
        <ul>
          <li>
            <h4>ENS de Lyon, France</h4>
            <h5>Bachelor + Master in Computer Science</h5>
            <div>Courses about theoretical computer science. Graduated with 18.26/20 (corresponds to A)</div>
          </li>
        </ul>
      </section>
    </section>
    <section class="year">
      <h3>2017 - 2019</h3>
      <section>
        <ul>
          <li>
            <h4>Lycée du Parc, Lyon, France</h4>
            <h5>Preparatory classes MPSI/MP*</h5>
            <div>Two years of intensive courses in mathematics, physics, and computer science to prepare for engineering school
            competitive exams.</div>
          </li>
        </ul>
      </section>
    </section>
  </div>
</div>