<section id="experience">
  <ul class="alt">
    <li>
      <h4>SaCS laboratory, EPFL <span class="position">| Student Intern</span></h4>
      <h5>April. 2021 - Jul. 2021 | Lausanne, Switzerland</h5>
      <ul>
        <li>
          Evaluation of the quality and improvement of GoldFinger, a method for approximating Jaccard similarity in KNN applications. 
          Major contributions to <a href="https://github.com/nmslib/nmslib">NMSLIB</a>, and to <a href="https://github.com/erikbern/ann-benchmarks">ANN-benchmarks</a>. Paper submitted to TKDE (IEEE Transactions on
          Knowledge and Data Engineering).
        </li>
        <li>
          In parallel, showcase of gossiping on a network of Raspberry Pis. Implementation of the decentralized file sharing
          protocol Hypercore on this network.
        </li>
      </ul>
    </li>
    <li>
      <h4>LaBRI <span class="position">| Student Intern</span></h4>
      <h5>Jun. 2020 - Jul. 2020 | Bordeaux, France</h5>
      <ul>
        <li>
          Work on Intel SGX to build a proxy anonymizing requests to an untrusted recommendation app. Based on batching, and
          pseudonymization.
        </li>
        <li>
          Creation of a scalable structure, with the provisioning of new enclaves on the go. SGX DCAP to speed up
          attestation inside the datacenter.
        </li>
      </ul>
    </li>
    <li>
      <h4>Open-Source <span class="position">| Open Source Contributor and Maintainer</span></h4>
      <h5>2015 - Present</h5>
      <ul>
        <li>Major contributor to the PHP web framework <a href="https://symfony.com">Symfony</a>. Member of
        <a href="https://github.com/FriendsOfSymfony/">FriendsOfSymfony</a>. Lead Maintainer of
        <a href="https://github.com/nelmio/NelmioApiDocBundle">NelmioApiDocBundle</a> (2k stars, hundreds of contributors). 
        </li>
        <li>
          Contributions to Intel SGX, NMSLIB, ANN-Benchmarks.
        </li>
      </ul>
    </li>
  </ul>

  <p style="margin-bottom: 20px">
    I also did many extra-curricular projects throughout the years.
  </p>
  <ul class="actions">
    <li><a href="#projects" class="button next">Go to my projects section</a></li>
  </ul>
</section>